@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bruno+Ace&family=Tektur&display=swap');


:root {
  --branco: #ffffff;
  --cinza-azulado: #bad3dbee;
  --cinza-fosco: #ffffffa9;
  --laranja: #f5a851;
  --azul-claro: #4fb6c9;
  --azul-escuro: #0e5b8f;
  --azul-escuro-tranparente: #1069a542;
  --sombra: #0000006d;
  --fonte-titulo-slogan: 'Audiowide', cursive;
  --fonte-padrao: 'Tektur', arial;
}

* {
  margin: 0px;
  padding: 0px;
  min-width: 200px;
  
}
body{
  background-color: #002140 ;
}

.principal {
  background-image: url(img/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.tituloPrincipal {
  font-family: var(--fonte-titulo-slogan);
  font-weight: normal;
  color: var(--azul-escuro);
  text-shadow: 1px 1px var(--azul-claro);
  font-size: 40px;
  background-color: var(--cinza-azulado);
}

.slogan {
  margin: 10px;
  font-family: var(--fonte-titulo-slogan);
  color: var(--branco);
  text-shadow: 2px 1px 0px var(--sombra);
  font-weight: lighter;
  font-size: 40px;
  min-width: 200px;
  max-width: 400px;
  width: 50%;
}

.produtos {
  background-color: var(--azul-claro);

}

.sobre {
  margin-left: 10px;
  font-family: var(--fonte-padrao);
  color: var(--branco);
  text-shadow: 2px 1px 0px var(--sombra);
  font-size: 20px;
  max-width: 500px;
  width: 50%;

}

.secao {
  margin-bottom: 30px;
  font-family: var(--fonte-padrao);
  color: var(--azul-escuro);
  font-size: 30px;
  background-color: var(--cinza-azulado);
}

.all {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.robo {
  min-width: 280px;
  max-width: 400px;
  width: 50%;

  background-color: var(--azul-escuro-tranparente);
  border: 4px solid var(--laranja);
  margin: 20px;
  padding: 30px;
}


div>h2 {
  font-family: var(--fonte-padrao);
  font-size: 40px;
  color: var(--laranja);
  text-shadow: 2px 2px var(--sombra);
  margin-bottom: 15px;
  text-align: center;
}

div img {
  min-width: 280px;
  max-width: 500px;
  width: 100%;
  display: block;
  margin: auto;
}

div:hover>img {
  display: none;
}

.descricao {
  min-width: 200px;
  max-width: 490px;
  width: 100%;
  text-align: center;
  color: var(--branco);
  font-family: var(--fonte-padrao);
  font-size: 25px;
  text-shadow: 2px 2px var(--sombra);
  margin-bottom: 15px;
  background-color: var(--azul-escuro-tranparente);
  border: 3px solid var(--azul-claro);

}

.funcoes {
  display: none;
  font-family: var(--fonte-padrao);
  color: var(--branco);
  text-shadow: 0.5px 0.5px var(--sombra);
  font-size: 20px;
  height: 390px;
  margin-left: 10px;
}

div:hover>.funcoes {
  display: block;
}

footer {
  background-color: var(--azul-escuro);
  color: var(--branco);
  text-align: center;
  padding: 5px;
}